.playground-canvas,
.playground {
  position: relative;
  overflow: hidden;
  canvas {
    position: relative;
  }
}

.button-group {
  padding: 15px;
  button {
    display: block;
    width: 100%;
    margin: 15px auto;
  }
}
.presets-box {
  > div {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
  }
}
